[mysqld]
log-error=/var/lib/mysql/mysql.err
max_allowed_packet=268435456
symbolic-links=0
interactive_timeout=60
lock_wait_timeout=60
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=8
max_connections=300
max_user_connections=200
innodb_file_per_table=1
performance-schema=0
open_files_limit=10000
query_cache_type=1
query_cache_size=128M
query_cache_limit=2M
key_buffer_size=256M
unix_socket=OFF
